<div class="title">
  <h6 class="text-secondary">{{nodeIndex + 1}}. {{nodeInstance.title}} <span>[{{nodeInstance.nodeID}}]</span></h6>
</div>
<div class="view">

  <div [class]="('view-items node-input ' + 'step-' + stepID + '-input-items')" [class.isMobile]="isMobile">
    <!-- Inputs <span>({{nodeInstance.inputs.length}})</span> -->
    <ul>
      <li *ngFor="let input of nodeInstance.inputs; let i = index;">{{input.name}} ({{input.type}})</li>
    </ul>
  </div>
  <div class="view-items main">
    <textarea></textarea>
  </div>
  <div [class]="('view-items node-output ' + 'step-' + stepID + '-output-items')" [class.isMobile]="isMobile">
    <!-- Outputs <span>({{nodeInstance.outputs.length}})</span> -->
    <ul>
      <li *ngFor="let output of nodeInstance.outputs; let i = index;">{{output.name}} ({{output.type}})</li>
    </ul>
  </div>

</div>
