textarea {
  width: 100%;
  // height: 100%;
}

.title {
  border-bottom: 1px black solid;

  h6 {
    margin: 0;
    margin-bottom: 4px;
    text-align: center;
  }
}

.node-input ul {
  list-style: none;
  padding: 0;

  li:before {
    content: "\2B9E";
    margin: 0 1em; /* any design */
  }
}

.node-output ul {
  list-style: none;
  padding: 0;

  li:before {
    content: "\2B9C";
    margin: 0 1em; /* any design */
  }
}

.isMobile {
  &.node-input ul {
    list-style: none;

    li:before {
      content: "\2B9E";
      margin: 0 1em; /* any design */
    }
  }

  &.node-output ul {
    list-style: none;

    li:before {
      content: "\2B9C";
      margin: 0 1em; /* any design */
    }
  }
}
