<div class="title">
  <h6 class="text-secondary">{{nodeIndex + 1}}. {{nodeInstance.title}} <span>[{{nodeInstance.nodeID}}]</span></h6>
</div>
<div class="view">

  <div [class]="('view-items node-input ' + 'step-' + stepID + '-input-items')" [class.isMobile]="isMobile">
    <!-- Inputs <span>({{nodeInstance.inputs.length}})</span> -->
    <ul>
      <li *ngFor="let input of nodeInstance.inputs; let i = index;">
        <fa-icon [icon]="faCaretSquareRightR" size="lg"></fa-icon>{{input.name}} ({{input.type}})
      </li>
    </ul>
  </div>
  <div [class]="('view-items main-container' + (isEditor ? ' isEditor' : ''))">
    <fa-icon [icon]="faBolt" *ngIf="!isEditor"></fa-icon>
    <!-- <fa-icon [icon]="faEdit" *ngIf="isEditor"></fa-icon> -->
    <div [class]="('main' + (isEditor ? ' isEditor' : ''))">
      <!-- <textarea *ngIf="nodeInstance.nodeType === 'editor'"></textarea> -->
      <ngx-codemirror
        *ngIf="(isEditor && editor.type === 'textarea')"
        #cmEditor
        [(ngModel)]="content"
        [options]="{
          lineNumbers: true,
          theme: 'mdn-like',
          mode: 'javascript',
          keyMap: 'sublime',
          scrollbarStyle: 'simple',
          autoRefresh: true,
          foldGutter: true,
          gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter'],
          extraKeys: {
            'Shift-Alt-F': 'indentAuto'
          }
        }">
      </ngx-codemirror>
      <app-editor-array
        *ngIf="(isEditor && editor.type === 'array')" [options]="editor"></app-editor-array>
      <app-editor-vector
        *ngIf="(isEditor && editor.type === 'vector')" [options]="editor"></app-editor-vector>
      <h4 *ngIf="!isEditor">{{nodeInstance.nodeType}}</h4>
      <select class="custom-select" *ngIf="nodeInstance.nodeType === ''">
        <option value="editor">editor</option>
        <option *ngFor="let op of operatorList"> {{op}} </option>
      </select>
    </div>
  </div>
  <div [class]="('view-items node-output ' + 'step-' + stepID + '-output-items')" [class.isMobile]="isMobile">
    <!-- Outputs <span>({{nodeInstance.outputs.length}})</span> -->
    <ul>
      <li *ngFor="let output of nodeInstance.outputs; let i = index;">
        <fa-icon [icon]="faCaretSquareLeft" size="lg"></fa-icon>{{output.name}} ({{output.type}})
      </li>
    </ul>
  </div>

</div>
