:host {
  display: flex;
  flex-direction: column;
  flex:1 1 auto;
}

textarea {
  width: 100%;
  flex: 1 1 auto;
  outline: none;
  border: 1px solid #CCC;
  resize: none;

  &:focus {
    border: 1px solid black;
  }
}

.title {
  border-bottom: 1px black solid;
  flex: 0 1 auto;

  h6 {
    margin: 0;
    margin-bottom: 4px;
    text-align: center;
  }
}

.view {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .view-items {
    display: block;
    flex: 0 1 auto;
  }

  .main {
    flex: 1 1 auto;
    margin-left: 2em;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
  }
}

.node-input ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li:before {
    content: "\2B9E";
    display: inline-block;
    text-align: center;
    width: 2em;
    /* any design */
  }
}

.node-output ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li:before {
    content: "\2B9C";
    display: inline-block;
    text-align: center;
    width: 2em;
    /* any design */
  }
}

.isMobile {
  &.node-input ul {
    list-style: none;

    li:before {
      content: "\2B9E";
      margin: 0 1em;
      /* any design */
    }
  }

  &.node-output ul {
    list-style: none;

    li:before {
      content: "\2B9C";
      margin: 0 1em;
      /* any design */
    }
  }
}
