:host {

  // width: 100%;
  &[wide=true] {
    display: block;
    flex-grow: 1;
  }

  padding: 2px 1px;
}

span {
  // padding: 2px 1px;

  &.wide {
    display: block;
    width: 100%;
  }

  background: none;

  &:hover {
    background-color: #EEE;
  }

  &:active {
    background-color: #DDD;

  }
}

input {
  display: block;
  width: 100%;

  margin: -3px -2px;
}


fa-icon {
  display: inline-block;
  padding-left: 4px;
  color: #888;
  font-size: 0.8em;
}
