<div class="steps-editor">
  <div class="back" #back>
    <!-- <svg width="200" height="200" #graph>
      <circle cx="50" cy="50" r="5" fill="green" />
    </svg> -->
  </div>
  <div class="front" #front>
    <app-step *ngFor="let step of steps; let i = index; trackBy: trackItem" [step]="step" [itemIndex]="i+1"></app-step>
    <div *ngIf="steps.length <= 0">
      <p>Start by pressing "Add step"</p>
    </div>
  </div>
</div>
<div>
  <app-button (click)="onClickAddStep()">Add step</app-button>
</div>

<div>
  <p>stepsJSON</p>
  <textarea style="width:100%; max-width:500px; height: 200px;">{{stepsJSON}}</textarea>
</div>
