<div>
  <app-step *ngFor="let step of steps; let i = index; trackBy: trackItem" [step]="step" [itemIndex]="i+1" [nodes]="nodes"></app-step>
  <div *ngIf="steps.length <= 0">
    <p>Start by pressing "Add step"</p>
  </div>
</div>
<div>
  <app-button (click)="onClickAddStep()">Add step</app-button>
</div>

<div>
  <textarea style="width:100%; max-width:500px; height: 200px;">{{stepsJSON}}</textarea>
</div>
<div>
  <textarea style="width:100%; max-width:500px; height: 200px;" #paper (change)="onPaperChange($event)"></textarea>
  <span>{{isValid?'valid':'invalid'}}</span>
</div>

<app-dim-bg *ngIf="false"></app-dim-bg>
