:host {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #e9ebee;

  // // @media (min-width: 0)
  // padding: 8px;
  // // @include media-breakpoint-up(sm) {
  // //   ...
  // // }

  // @include media-breakpoint-up(md) {
  //   padding: 20px;
  // }

  // // @include media-breakpoint-up(lg) {
  // //   ...
  // // }

  // // @include media-breakpoint-up(xl) {
  // //   ...
  // // }
}

