<div>
  <app-transition-group [className]="'flip-list'" class="steps-container flip-list">
    <app-step *ngFor="let step of steps; let i = index; trackBy: trackItem" [step]="step" [itemIndex]="i+1"
      [nodes]="nodes" appTransitionGroupItem [canArrangeUp]="i > 0" [canArrangeDown]="i < steps.length-1"
      class="list-items"></app-step>
    <div *ngIf="steps.length <= 0">
      <p>Start by pressing "Add step"</p>
    </div>
  </app-transition-group>
</div>
<div>
  <app-button (click)="onClickAddStep()">Add step</app-button>
</div>

<div>
  <textarea style="width:100%; max-width:500px; height: 200px;">{{stepsJSON}}</textarea>
</div>
<div>
  <textarea style="width:100%; max-width:500px; height: 200px;" #paper (change)="onPaperChange($event)"></textarea>
  <span>{{isValid?'valid':'invalid'}}</span>
</div>

<app-dim-bg *ngIf="false"></app-dim-bg>