:host {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #EEE;
}

.steps-editor {
  position: relative;
}

.back{
  position:absolute;
}


.indented-card-body {
  margin-left: 50px;
  margin-right: 8px;

  &.after-title {
    padding-top: 0px;
  }
}
