.operator {
  border: 1px solid #888;
  background-color: white;
  text-align: center;
}

.operator-parameter-container {
  display: flex;
}

.operator-parameter {
  width: 100%;
  text-align: center;
  margin: 8px;
  border: 1px solid #888;
  // border-left: none;
  background-color: white;
}
.operator-parameter:first-child {
  // border-left: 1px solid #888;
}
