.operator {
  border: 1px solid #888;
  text-align: center;
}

.operator-parameter-container {
  display: flex;
}

.operator-parameter {
  width: 100%;
  text-align: center;
  border: 1px solid #888;
  border-left: none;
}
.operator-parameter:first-child {
  border-left: 1px solid #888;
}
