@import '../variables';

.main {
  position: relative;
  width: 100%;
  height: calc(100% - 32px);
  background-color: rgb(214, 234, 253);
}

nav {
  background-color: $primary-color;
  color: white;

  a,
  button {
    color: white;
  }
}

:host {
  position: absolute;
  width: 100%;
  height: 100%;
}
