@import '../variables';

.main {
  position: relative;
  width: 100%;
  height: calc(100% - 32px);
  background-color: #888;
}

nav{
  background-color: $secondary-color;
}

:host {
  position: absolute;
  width: 100%;
  height: 100%;
}
