<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <button class="expand-button btn btn-secondary btn-sm" (click)="onExpandButtonClick()">
        <fa-icon *ngIf="isExpanded" [icon]="faMinus"></fa-icon>
        <fa-icon *ngIf="!isExpanded" [icon]="faPlus"></fa-icon>
      </button>
      <span class="text-secondary">{{itemIndex}}.{{ ' ' }}</span>
      <app-editable-wrapper [value]="step.title" (valueChange)="onTitleUpdated($event)"></app-editable-wrapper>{{ ' ' }}
      <span>[{{step.stepID}}]</span>
      <span style="display:inline-block;width:4px;"></span>
      <span class="text-secondary step-type">{{step.description}}</span>
    </h5>
  </div>
  <div class="card-body step-body" [class.isMobile]="isMobile" [hidden]="!isExpanded">
    <app-transition-group [className]="'flip-list'" class="flip-list" [class.isMobile]="isMobile"
      [appMatchHeight]="isMobile ? '' : ('step-'+step.stepID+'-input-items step-'+step.stepID+'-output-items')">
      <app-column class="column list-items" [class.isMobile]="isMobile" appTransitionGroupItem
        *ngFor="let column of columns; let i = index; trackBy: trackColumn" [index]="i" [stepID]="step.stepID"
        [style.flex]="isMobile ? '' : (column.width)" [style.minHeight]="column.height + 'px'"
        [nodeInstance]="nodes[column.nodeID]" [isOrganizeMode]="isOrganizeMode"
        (clickResizeButton)="onClickColumnChangeSize(column.nodeID, $event)"
        (clickArrangeButton)="onClickColumnArrange(column.nodeID, $event)"
        (requestMoveToStep)="onColumnMoveToStep(column.nodeID, $event)"
        (clickTrash)="onClickColumnRemove(column.nodeID)" [canSizeUp]="true" [canSizeDown]="column.height>100"
        [canArrangeUp]="i>0" [canArrangeDown]="i < columns.length-1">
      </app-column>
    </app-transition-group>
  </div>

  <div class="step-buttons card-body toolbar" [hidden]="!isExpanded">
    <div class="toolbar-default" *ngIf="!isOrganizeMode">
      <button class="btn btn-light" (click)="onClickAddNode()">Add Node</button>{{ ' ' }}
      <button class="btn btn-light" (click)="onClickOrganize()">Organize</button>{{ ' ' }}
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-light" [disabled]="!canArrangeUp" (click)="onClickStepArrange(-1)" title="Move Step Up">
          <fa-icon [icon]="faArrowUp"></fa-icon>
        </button>
        <button class="btn btn-light" [disabled]="!canArrangeDown" (click)="onClickStepArrange(+1)"
          title="Move Step Down">
          <fa-icon [icon]="faArrowDown"></fa-icon>
        </button>
      </div>{{ ' ' }}
      <button class="btn btn-light" (click)="onClickRemoveStep()">Remove Step</button>
    </div>
    <div class="toolbar-organize" *ngIf="isOrganizeMode">
      <button class="btn btn-light" (click)="onClickEndOrganize()">End Organize</button>{{ ' ' }}
    </div>
  </div>
</div>
