.expand-button {
  width: 30px;
  margin-right: 10px;
}

.card-title {
  margin-bottom: 0;
}

.card-subtitle {
  margin-bottom: 0;
  margin-left: 40px;
}

.card {
  margin-top: 4px;
  margin-bottom: 4px;
}

.step-body {
  margin-left: 40px;
  padding-top: 0;
  display: flex;
}

.step-body.isMobile {
  display: block;
}

.step-buttons {
  margin-left: 40px;
  padding-top: 0;
}

.step-type {
  font-size: 0.8em;
  font-style: italic;
}

.btn-light:first-child {
  padding-left: 0;
}

.column.isMobile {
  width: 100%;
}
