.card {
  background-color: rgba(255, 255, 255, 0.7); //rgba(0, 0, 0, 0.3);
}

.expand-button {
  width: 30px;
  margin-right: 10px;
}

.card-title {
  margin-bottom: 0;
  color: black;
}

.card-subtitle {
  margin-bottom: 0;
  margin-left: 40px;
}

.card {
  margin-top: 4px;
  margin-bottom: 4px;
}

.step-body {
  overflow: auto;

  &.isMobile {
    display: block;
  }

  .column-row {
    display: flex;
    width: 100%;
    margin-left: -4px;
    margin-right: -4px;
  }

  .column {
    margin: 4px;
    width: 100%;

    &.isMobile {
      width: 100%;
    }
  }
}

.indented-body {
  margin-left: 40px;
  margin-right: 8px;

  &.after-title {
    padding-top: 0px;
  }
}

.step-buttons {
  margin-left: calc(40px - 0.75rem);
  padding-top: 0;

  // .btn-light:first-child {
  //   padding-left: 0;
  // }
}

.step-type {
  font-size: 0.8em;
  font-style: italic;
}

.step-type-selector {
  margin-left: -4px;
  margin-right: -4px;

  button {
    width: calc(50% - 8px);
    margin: 4px;
    height: 100px;
  }
}
