<div class="toolbar" *ngIf="isOrganizeMode">
  <div class="filler"></div>
  <button class="btn btn-secondary btn-sm" [class.disabled]="!canSizeUp" (click)="onClickResizeButton(+1)">
    <fa-icon [icon]="faPlus" size="xs"></fa-icon>
  </button>
  <button class="btn btn-secondary btn-sm" [class.disabled]="!canSizeDown" (click)="onClickResizeButton(-1)">
    <fa-icon [icon]="faMinus" size="xs"></fa-icon>
  </button>
  <button class="btn btn-secondary btn-sm" [class.disabled]="!canArrangeUp" (click)="onClickArrangeButton(-1)">
    <fa-icon *ngIf="!isMobile" [icon]="faArrowLeft" size="xs"></fa-icon>
    <fa-icon *ngIf="isMobile" [icon]="faArrowUp" size="xs"></fa-icon>
  </button>
  <button class="btn btn-secondary btn-sm" [class.disabled]="!canArrangeDown" (click)="onClickArrangeButton(+1)">
    <fa-icon *ngIf="!isMobile" [icon]="faArrowRight" size="xs"></fa-icon>
    <fa-icon *ngIf="isMobile" [icon]="faArrowDown" size="xs"></fa-icon>
  </button>
  <button class="btn btn-secondary btn-sm" *ngIf="isOrganizeMode" (click)="onClickTrash()">
    <fa-icon [icon]="faTrashAlt" size="xs"></fa-icon>
  </button>
</div>

<app-node [nodeInstance]="nodeInstance"></app-node>
