/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
@import "~codemirror/theme/vibrant-ink";
@import "~codemirror/theme/mdn-like";
@import "~codemirror/addon/scroll/simplescrollbars";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.filler {
  flex: 1 1 auto;
}

.btn-primary {
  background-color: $primary-color;
}

.btn-secondary {
  background-color: white;
  color: #666;
  border-color: #666;

  &:not(:disabled):not(.disabled):focus {
    background-color: white;
    color: #666;
    border-color: #666;
  }

  &:not(:disabled):not(.disabled):hover {
    background-color: #aaa;
    color: white;
    border-color: #666;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: #666;
    color: white;
    border-color: #666;
  }

  &.disabled,
  &:disabled {
    background-color: white;
    border-color: #aaa;
    color: #aaa;
  }
}

.btn-light {

  &.disabled,
  &:disabled {
    color: #aaa;
  }
}

.app-text-secondary {
  color: $primary-color;
}

.flip-list-move {
  transition: transform 1s;
}
