/* You can add global styles to this file, and also import other style files */
@import 'variables';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.filler {
  flex: 1 1 auto;
}

.btn-primary {
  background-color: $primary-color;
}

.app-text-secondary {
  color: #888; //#DDD;
}


.debug-entity-id {
  // display: none;
}
